Add this line on the beginning of printer.cfg:

[include extended/ext_printer.cfg]


Comment out the enable_pin: PE15 with a #

[purifier]
pin: !PA8
max_power: 1.0
tachometer_pin: PA9
tachometer_ppr: 2
tachometer_poll_interval: 0.0005
# enable_pin: PE15
extra_fan_tach_pin: PA6
power_det_pin: PA7
power_det_threshold: 0.88
