Add these lines at the beginning of printer.cfg:

[include extended/ext_printer.cfg]

# If you activated OpenRFID, add this line to get 3 macros, selectable in fluidd
# Add also afterwards the ext_rfidmacros.cfg to the extended folder.
[include extended/ext_rfidmacros.cfg]


Comment out the PE15 enable line in [purifier] with a #

[purifier]
# exhaust fan
exhaust_pin: !PA8
exhaust_max_power: 1.0
exhaust_cycle_time: 0.001
exhaust_hardware_pwm: True
# inner fan
inner_pin: !PA9
inner_max_power: 1.0
inner_cycle_time: 0.001
inner_hardware_pwm: True
inner_tach_pin: PA6
inner_tach_ppr: 2
inner_tach_poll_interval: 0.0005
# global
# power_enable_pin: PE15
power_det_pin: PA7
power_det_threshold: 0.88
external_temp_sensor: cavity
